body {
	margin:0;
	padding:0;
}

canvas {
	background: black;
	margin: 0px;
	float: left;
	width: 100%
}

button {
	margin: 10px;
}

#OK {
	padding: 0 20px 0 20px;
	margin-left: 30px;
}


#spil h1 {
	padding-left: 20px;
	padding-bottom: 0px;
	margin-bottom: 0;
	margin-top: 0;
}

#menu {
	padding-top: 100px;
}

#menu span p {
	font-size: 20px;
	margin: 0 10px;
	padding-bottom: 0;
}

#menu-row2 {
	display: flex;
	justify-content: space-between;
}

#nyt {
	font-size: 20px;
	width: 60px;
	height: 60px;
	
	order: 1;
}

#ny-tavle {
	font-size: 20px;
	width: 60px;
	height: 60px;
	background-color: red;

	order: 3
}

#Multi {
	padding: 0 20px;
	flex: 1;
	order: 2;
	display: flex;
	flex-direction: column;
	width: 100px;
	
}

#p-navn {
	flex: 1;
}

#start-multi {
	flex: 1;
}



#spil {
	width: 241px;
	position: fixed;
	left: 50%;
	top: auto;
	bottom: 5px;
	margin: -100px 0 0 -100px;
	background-color: green;
	
}